.loading{
    background-repeat: no-repeat;
    background-size: cover;
    animation: loading 7s infinite alternate-reverse;
}

@keyframes loading {
    0%{
        background-color: black;
    }
    15%{
        background-image: url('https://t4.ftcdn.net/jpg/02/01/28/95/360_F_201289558_RCIMKiSZkHQIrf2nPGERo12wYJZFE1WV.jpg');
    }
    20%{
        background-image: url('https://images.pexels.com/photos/355748/pexels-photo-355748.jpeg?cs=srgb&dl=pexels-pixabay-355748.jpg&fm=jpg');
    }
    40%{
        background-image: url('https://t3.ftcdn.net/jpg/06/54/62/34/360_F_654623467_Lg7rqGyyxCeEGRPAGcnQH93uEJdTrXpr.jpg');
    }
    60%{
        background-image: url('https://thumbs.dreamstime.com/b/fantasy-gentle-floral-background-blue-flowers-defocused-29002477.jpg');
    }
    80%{
        background-image: url('https://media.istockphoto.com/id/1126841725/photo/spring-meadow.webp?b=1&s=612x612&w=0&k=20&c=eDz8nDhzjbiZE0aY94vyrCp2kKNU30vGNyhBWwduNKI=');
    }
    100%{
        background-image: url('https://t4.ftcdn.net/jpg/02/01/28/95/360_F_201289558_RCIMKiSZkHQIrf2nPGERo12wYJZFE1WV.jpg');
    }
}